html{

    font-family: Georgia, 'Times New Roman', Times, serif;

}

body {
    color: grey ;
    background-color:rgb(255, 230, 230);
    margin: 1px;
}


ul{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    width: 200px;
    gap: 5px;
}

li{

    display: flex;
    flex-direction: row;
    text-align: left;
 


}

a:hover{

    background-color: rgb(241, 119, 82) ;
    width: fit-content;

}
a {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    text-decoration: none;
    color: purple;
    width: 100%;
   gap: 5px;
}


i{
    font-size: 25px;


}